--ignore-paths=modules/**/*
# All no-* lines should be deleted after code cleanup
--no-documentation-check
--no-140chars-check
--no-double_quoted_strings-check
--no-arrow_alignment-check
--no-only_variable_string-check
--no-trailing_whitespace-check
--no-arrow_on_right_operand_line-check
--no-case_without_default-check
